* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
header {
    background-color: darkblue;
    text-align: center;
    padding: 15px;
    color: aliceblue;
}
h1 {
    font-size: 40px;
}
.container {
    margin: 0 auto;
    max-width: 1200px;
    padding: 20px; 
}
#recipe-list {
    list-style: none;
}
.recipe-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
    overflow: hidden;/* to make sure image corners are not visible outside thee box */
}
.recipe-item img {
    width: 150px;
    height: 150px;
    object-fit: cover;/* to make the image fit the given size */
}
.recipe-item h2 {
    padding: 10px;
    font-size: 20px;
    min-width: 200px;/* if the recipe name is too big, it goes to the next line */
}
.recipe-item p {
    padding: 10px;
    color: #777;
}
.recipe-item a {
    background-color: darkblue;
    text-decoration: none;
    color: aliceblue;
    min-width: 150px;
    padding: 10px;
    text-transform: uppercase;
    font-size: 15px;
    transition: background 0.2s ease;
}
.recipe-item a:hover {
    background: blue;
}

@media screen and (max-width: 786px) { /* media screen is used to give different orientation to screen size below 786px */
    .container {
        max-width: 90%;
    }
    .recipe-item {
        flex-direction: column;
    }
    .recipe-item img {
        width: 100%;
        height: auto;
        margin-bottom: 10px;
    }
    .recipe-item h2 {
        font-size: 20px;
        margin-bottom: 10px;
    }
    .recipe-item p {
        font-size: 14px;
        margin-bottom: 10px;
    }
    .recipe-item a {
        width: 100%;
        text-align: center;
    }
}